/* @media only screen and (max-width:992px){
    .login-nav{
        justify-content: center;
    }
    .cart-div{
        justify-content: center !important;
    }
    .cart-nav{
        margin: 0 !important;
    }
    .nav3{
        justify-content: center !important;
    }
} */


